* {
   margin: 0;
   font-family: Arial;
   border: border-box;
}

/* Navbar */
.navbar {
    background-color: #0f1111;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo {
    height: 50px;
    width: 144px;
}
.logo {
    background-image: url("");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border {
    border: 2px solid transparent;
}
.border:hover {
    border: 2px solid white;
}

/* Hero Section */
.hero-img {
    background-image: url("string.png");
    height: 340px;
    background-size: cover;
    display: flex;
    align-items: end;
    margin-bottom: 20px;
    justify-content: center;
}
.hero-text {
    background-color: #f5f6f6;
    width: 96.9%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text a {
    color: #2162A1;
    text-decoration: none;
}

/* Content Section */
.content-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box {
    height: 380px;
    width: 23.5%;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 18px;
}
.box-image {
   height: 280px;
   background-size: cover;
   margin: 0px 20px;
}
.box h2 {
    padding-left: 15px;
    margin: 10px;
    font-size: 21px;
    font-weight: 700;
}
.box p {
    padding-left: 10px;
    margin: 10px;
    color: #2162A1;
}

/* Background */
body {
    background-color: #E3F2FD;
}

/* Sign Info */
.sign-info {
    height: 200px;
    background-color: #ffffff;
    border-top: 0.5px solid gray;
    display: flex;
    justify-content: center;
}
.sign-info h2 {
    margin-top: 25px;
}
body{
    background-color: #7F5A76;
}
